/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* FILTRES PORTFOLIO */
#portfolio ul {
	display: flex;
	justify-content: center;
}

#portfolio li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	margin: 21px 10px 51px 0;
	width: auto;
	padding: 0 20px 0 20px;
	height: 37px;
	border-radius: 60px;
	white-space: nowrap;
}

#portfolio li:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

/* FORMULAIRE LOGIN */
#form-login {
	width:50%;
	margin: auto;
	text-align: center;
}

#form-login form {
	margin-top:30px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

#form-login h2 {
	margin-top: 120px;
}

#form-login a {
	color:black;
	padding-block-end: 200px;
}

/* BANDEAU HAUT DE PAGE */

.banner {

	background-color: black;
	width:auto;
	margin-left: -1000px;
	margin-right: -1000px;
	height: 59px;
	line-height:59px;
	color: white;
	text-align: center;
}

.button {
	border-radius: 60px;
	padding: 11px 23px;
	font-family: 'Work Sans';
}

/*BOUTONS MODIFIER*/

.modify-description {
	margin-bottom: 20px;
}

.modify-img {
	margin: 15px 0 0 55px;
}

.modify-works {
	font-family: 'Work Sans';
	font-size: 14px !important;
	color: black;
	font-weight: normal;
	position: relative;
	left:60%;
	bottom: 20px;
	width: 100px;
}

/*PARTIE MODALES */

.js-modal-background {
	background: rgba(0, 0, 0, 0.3);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}

.js-modal, .js-modal-picture {
	width: 630px;
	height: 731px;
	background-color: white;
	z-index: 1;
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

aside button {
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	border-radius: 60px ;
	border: none;
	position: relative;
	top: 38px;
	left: 110px;
}

aside p {
	text-align: center;
	color: #D65353;
	font-family: 'Syne';
	font-size: 12px;
	position: relative;
	top: 70px;

}

.js-modal figure {
	width: 77px;
	height: 107px;
	margin: 3.5px 3.5px 20px 3.5px;
}

.js-modal img {
	width: 77px;
	height: 107px;
	object-fit: cover;
	
}

.fa-trash-can {
	position: relative;
	top: -107px;
	left: 55px;
	color: white;
	background-color: black;
	padding: 5px;
	font-size: 12px;
	border-radius: 2px;
}

.fa-arrows-up-down-left-right {
	position: fixed;
	top: 122px;
	left: 137px;
	color: white;
	background-color: black;
	padding: 4.7px 4px 5.3px 4px;
	font-size: 12px;
	border-radius: 2px;
}

.js-galery {
	display: flex;
	flex-wrap: wrap;
	width: 430px;
	margin-left: 100px;
	padding-bottom: 32px;
	
}

.new-project {
	width: 460px;
	margin-left: 100px;
}

.js-modal h3, .js-modal-picture h3 {
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	margin: 35px 0;
}

.js-modal figcaption {
	font-size: 12px;
	margin-top: -20px;
}

.fa-xmark {
	font-size:20px;
	position: relative;
	left: 595px;
	top: 20px;
}

.fa-arrow-left {
	font-size:23px;
	position: relative;
	left: 20px;
	top: 25px;
}

.grey-button {
	background: #A7A7A7;
}

#form-img {
	display: none;
}

#button-label {
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	width: 173px;
	height: 36px;
	border-radius: 50px;
	position: relative;
	top:35%;
	left:50%;
	transform: translate(-50%, -50%);
	line-height:36px;
	text-align: center;
	
}

#file-label p {
	font-family: 'Work Sans';
	color: #444444;
	font-size: 10px;
	margin-top: -20px;
}

.fa-image {
	font-size: 60px;
	color: #B9C5CC;
	position: relative;
	top: 25px;
	width: 460px;
	text-align: center;
}

#file-label {
	width: 460px;
	height:170px;
	margin: 20px 0 20px -10px;
	background: #E8F1F7;
}


#form-title, #form-category {
	width: 460px;
	margin: 8px 0 18px -10px;
}

.div-button {
	width: 460px;
	border-top: 1px solid #B3B3B3;
	position: absolute;
	top: 570px;
	left: 75px;	
}

.button-valider {
	width: 460px;
	border-top: 1px solid #B3B3B3;
	position: absolute;
	top: 545px;
	left: 75px;
	margin-left: 13px;
}

.js-modal-picture {
	height:670px;
}

li, .fa-solid, input, label, select, button, .modify-works, .modify-img, .modify-description {
	cursor: pointer;
}

#preview {
	max-width:460px;
	max-height:170px;
	object-fit: cover;
	position: absolute;
	top:205px;
	left:50%;
	transform: translate(-50%, -50%);
	display: none;	
}















